body {
    background-color: #008080;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#responsive-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    font-size: small;
}

#responsive-nav .menu-item {
    padding: 3px 8px;
}

#SampleTitle {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

#instagram-advertise-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#upcoming-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: small;
}

#upcoming {
    width: 400px;
}

.main-window {
    width: 80%;
    max-width: 800px;
    height: auto;
    min-height: 400px;
}

.instagram-advertise {
    display: flex;
    align-items: center;
    font-size: medium;
}

.title-banner {
    width: 100%;
}

/* Full screen overlay to block interaction */
.modal-overlay {
    display: none;
    /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    z-index: 1000;
    /* Ensure it's on top of everything */
    justify-content: center;
    align-items: flex-start;
    /* Start a bit higher up the screen */
    padding-top: 100px;
}

/* Class to make the modal visible */
.is-visible {
    display: flex;
    /* Show the overlay */
}

@media (max-width: 600px) {
    .main-window {
        width: 100%;
        max-width: 100%;
        margin: 0;
        box-shadow: none;
        border: none;
    }
}